<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body data-spy="scroll" data-target="#main-nav">

    @Html.Partial("_NavBarMdb")


    <div id="intro" class="view">
        <div class="mask rgba-black-strong">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-10">
                        <div class="display-4 font-weight-bold white-text pt-5 mb-2">
                            <hr class="hr-light" />
                            <h4 class="white-text my-4">Dans une société de troc, celui qui n'aura ni compétence ni produit de son cerveau ou de ses mains à échanger contre les fruits du labeur des autres ne pourra subsister. Les parasites, alors identifiés, disparaîtront d'eux-mêmes.</h4>
                        </div>
                        <hr class="hr-light" />
                        <h5 class="white-text">Et pourtant elle tourne...:Chroniques - Maurice Denuzière</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/lib")

    <main class="mt-5">

        @RenderBody()
    </main>




    <footer class="page-footer font-small unique-color-dark pt-0">
        <div class="primary-color">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <p>&copy;@DateTime.Now.Year - ITroc</p>
                </div>
            </div>
        </div>
    </footer>


   



    @Scripts.Render("~/bundles/mdb")
    @RenderSection("scripts", required: false)
</body>
</html>


